body {
font-family: sans-serif;
padding: 50;
margin: 40;
background: #b97bb0;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
   
}



